@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: "black";
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}
/* styles/globals.css */
body::-webkit-scrollbar {
  display: none;
}

body {
  color: var(--foreground-rgb);
  background: linear-gradient(to bottom, transparent);
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* global.css */
input:checked ~ .accordion-content {
  max-height: 100vh; /* Arbitrarily large to accommodate content */
}
input:checked ~ label svg {
  transform: rotate(90deg);
}

/* Global Scrollbar Styles */
::-webkit-scrollbar {
  width: 12px; /* Adjust the scrollbar width */
}

::-webkit-scrollbar-track {
  background-color: #ffffff; /* Adjust the track color */
}

::-webkit-scrollbar-thumb {
  background-color: #0385db; /* Adjust the thumb color */
  border-radius: 10px; /* Optional: round the scrollbar edges */
  width: 9px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ffffff; /* Thumb color on hover */
}
