@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: "black";
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}
/* styles/globals.css */
body::-webkit-scrollbar {
  display: none;
}

body {
  color: var(--foreground-rgb);
  background: linear-gradient(to bottom, transparent);
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
